body {
    background: rgb(226, 220, 217);
    font: normal 15px Arial black;
    text-align: center;
    border-radius: 5px;
}
h1 {
    background: rgb(252, 243, 243);
    border-radius: 150px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.163);
}
p {
    color: black;
    font: normal 20px Arial;
}